@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+FR+Moderne&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    
}
span {
    font-family: "Montserrat", sans-serif;
}

header{


    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2%;
    border-radius: 48px;
    margin-top: 10px;
    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    width: 64px;
    cursor: pointer;
}
.logo a{
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #ff0060;
    cursor: pointer;
    

}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    margin-right: 42px;
}

.nav-list li a {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: #44113e;
}
.nav-list li a:hover {
    color: #fff;     
} 

.nav-list li a:active{
    color: #fff;
}


.btns button{
    background-color: #ff0060;
    outline: none;
    border: 2px solid #ff0060;
    color: white;
    font-size: 1px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 15px 5px 15px;
    margin-right: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.btns button:hover{
    transform: scale(1.1);
}



.home {
    position: relative;
    background-image: url(view-ready-eat-delicious-meal-go.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
}

.home-ctn{
    width: 50%;
}

.home-ctn h1{
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 900;
    padding-left: 20px;
}

.home-ctn p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    
    margin-top: 10px;
    color: #44113e;
    line-height: 1.3;
    padding-left: 20px;
}
.ctn-btn{
    display: block;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.ctn-btn button{
    background-color: #ff0060;
    outline: none;
    border: 2px solid #ff0060;
    color: white;
    font-size: 1px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px 8px 20px;
    margin-top: 25px;
    border-radius: 28px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.ctn-btn button:hover{
    
    transform: scale(1.09);
}


.Features {
    height: 100vh;
}

.f-ctn{
    background-color: #C0D6E8;
    padding-top: 100px;
    height: 100vh;
    
}
.f-ctn .f-heading{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    color: #000;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.card{
    width: 320px;
    height: 380px;
    text-align: center;
    margin-right: 20px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: "Montserrat", sans-serif;
    transform: scale(.9);
    transition: transform .2s;
}

.card img{
    margin-bottom: 20px;
}

.card h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.card p{
    font-size: 22px;
    line-height: 1.5;
}

.card:hover{
    transform: scale(1);
    
}

.About{
    height: 100vh;
}

.a-ctn{
    background: #C0D6E8;
    height: 100vh;
    padding-top: 80px;
}

.a-heading{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    color: #000;
}

.welcome{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

.happy_cooking{
    text-align: center;
}

.Contact{
    height: 100vh;

}

.cont-ctn{
    background: #C0D6E8;
    height: 100vh;
    padding-top: 80px;
}

.form{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

form{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 60%;
    border-radius: 24px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form button{
    background: #0c0c19;
    color: #fff;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 24px;
}

.form button:hover{
    background: transparent;
    color: #000;
    transition: all .4s;
}
form label, textarea:placeholder-shown, form button{
    font-family: "Montserrat", sans-serif;

}
form label{
    font-weight: bolder;
}

textarea{
    width: 100%;
    resize: none;
    font-family: "Montserrat", sans-serif;

}

textarea::placeholder{
    padding: 5px;
}

form input{
    padding-top: 14px;
    width: 100%;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;

}